#image {
  transition: transform 0.3s ease;
  transform-origin: center center;
  max-width: 100%;
  max-height: 60vh; /* limite la hauteur */
  object-fit: contain;
}

#histogramContainer {
  min-height: 350px;
  /* même hauteur que quand visible */
}
#histogramContainer.hidden {
  visibility: hidden;
  position: absolute;
}

.histogram-style {
  max-width: 100%;
  height: auto;
  background-color: #f0f0f0;
  border: 2px solid #333;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

.histogram-style:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

