#image {
  transition: transform 0.3s ease;         /* ajoute une transition fluide au zoom */
  transform-origin: center center;         /* le point d'origine du zoom est au centre de l'image */
  max-width: 100%;                         /* l'image ne dépasse pas la largeur du conteneur */
  max-height: 60vh;                        /* limite la hauteur de l'image à 60% de la hauteur de la fenêtre */
  object-fit: contain;                     /* ajuste l'image pour qu'elle tienne dans son conteneur sans être déformée */
}


#histogramContainer {
  min-height: 350px;
  /* même hauteur que quand visible */
}
.hidden {
  display: none;
}
.show {
  display: block;
}




